.container {
    margin-right: 50px;
    width: 70%;
}

.container-txt {
  margin: 50px;
  width: 70%;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 96px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* Mobile view */
@media screen and (max-width: 600px) {
  .container-txt{
    margin: 0px !important;
    width: 90%;
  }
  .flexbox {
    justify-content: center;
    margin-top: 25px;
  }
  .log {
    padding-top: 25px;
  }
}

  .bckgd-icon {
    background-color: grey;
    color: #39475B;
    border-radius: 50%;
  }


.login {
  text-decoration: underline;
  color: #39475B;
}

  .icon {
    text-align : center;
    margin: auto;
    vertical-align: middle;
    display: block;
    padding-top: 8px;
    margin-left: 8px;
    width: 50px;
    height: 50px;
  }

  .banner {
    background-size: cover;
    background-position: center;
    padding: 36px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: #39475B;
    /* text-shadow: 1px 1px 3px rgba(0,0,0,0.2); */
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 16px;
    color: black;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: justify;
  }

  .btn-flat {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 8px 24px;
    border-radius: 14px;
    background: #39475B;
    transition: background 0.3s ease;
    justify-content: center;
    display:table;
    margin: 0 auto;
  }
  
  .btn-flat:hover {
    background: #556172;
    color: white;
  }


  .btn-gradient {
    color: rgba(255, 255, 255, 0.514);
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
  }
  
  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }

  .bckg-white {
    background-color: rgba(255,255,255,0.5);
    padding: 30px;                             
  }



p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    padding-bottom: 20px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color:white;
}
