* {
	padding:0;
	margin:0;
}
img {
  height: auto;
	width:100%;
}
.post-thumbnail {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    justify-content:flex-end;
    overflow: hidden;
}
.post-thumbnail img {
    display: block;
}